.mobile-menu {
  display: none;
}
@media screen and (max-width: 480px) {
  .mobile-menu {
    display: block;
  }
  .mobile-menu-opener {
    position: absolute;
    top: 27px;
    right: 18px;
    font-size: 18px;
  }
  
  .mobile-menu-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
  }

  .mobile-menu-closer {
    position: absolute;
    top: 27px;
    right: 20px;
    font-size: 18px;
  }

  .mobile-link-ul {
    margin-top: 90px;
    margin-left: 18px;
    list-style-type: none;
  }

  .mobile-link-ul li {
    color: white;
    margin-bottom: 25px;
    position: relative;
    padding-left: 18px;
  }

  .mobile-link-left {
    position: absolute;
    width: 3px;
    height: 22px;
    background: #F2653C;
    left: 0;
  }
}
