.page-rarity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}
.rarity-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
}
.rarity-item {
  padding: 11px;
  text-align: center;
}
.rarity-image {
  margin-bottom: 13px;
}
@media screen and (max-width: 480px) {
  .page-rarity {
    margin-left: 26px;
    margin-right: 28px;
  }
  .rarity-image {
    margin-bottom: 6px;
    width: 120px;
    height: 120px;
  }
}